@font-face {
    font-family: bessemer-bold;
    src: url(bessemer-bold.ttf);}
@font-face {
    font-family: botanika-mono;
    src: url(BotanikaMonoRegular.ttf);}
@font-face {
    font-family: rubik-italic;
    src: url(Rubik-Italic.ttf);}
@font-face {
    font-family: rubik-mediumitalic;
    src: url(Rubik-MediumItalic.ttf);}
@font-face{
    font-family: planetkosmos;
    src: url(planetkosmos.TTF);
}
@font-face{
    font-family: coolvetica;
    src: url(coolvetica\ rg.ttf);
}
.topnav{font-family:coolvetica; color: rgb(221, 240, 147); text-align: right;
    position: fixed;
    top: 10; 
    width: 100%;
    height: 50px;
overflow: hidden;}

.image {text-align: center;}

.image img {width: 100%;}

.rodape {text-align: center;}

.links {font-family:botanika-mono; color: rgb(221, 240, 147); text-align: center;
    font-size: 40px;
    margin-left: 350px;
    margin-right: 350px;
text-decoration: underline;}

#logo {float: left; margin-left: -2070px; size: +200%;line-height: 30px;
    margin-top: 5px;}

#menu {justify-content: center; margin-right: 40px; word-spacing: 30px; font-size: x-large; vertical-align: middle;}
a {
    text-decoration: none;
    color: rgb(221, 240, 147);
  }

body {background-color: black;}

#fichatecnica {font-family: coolvetica; color: rgb(221, 240, 147); font-weight: bold; text-align: center;  text-size-adjust: 30%;
    font-size: 50px;
    margin-left: 350px;
    margin-right: 350px;}
#descricao {font-family:botanika-mono; color: rgb(221, 240, 147); text-align: center;
    font-size: 30px;
    margin-left: 350px;
    margin-right: 350px;}
#joaopastoriza {font-family: coolvetica; color:  rgb(221, 240, 147); font-weight: bold; text-align: center; font-size: 100px;}
#sobremim {font-family:botanika-mono; color: rgb(221, 240, 147); text-align: center;
    font-size: 30px;
    margin-left: 350px;
    margin-right: 350px;
}
#topicos {font-family: coolvetica;color: rgb(221, 240, 147); font-weight: bold; text-align: center; font-size: 50px;}
#informacoes {font-family: botanika-mono;color: rgb(221, 240, 147); text-align: center; font-size: 50px;}
#contato {font-family: coolvetica; color: rgb(221, 240, 147); font-weight: bold; text-align: center; font-size: 50px;}

#contatohl {font-family: bessemer-bold; text-align: center; font-size: 50px;}
